/* ==========================================================================
   #generic.hacks
   ========================================================================== */

 
/*
   input[type=number]
   ========================================================================== */

/**
* Remove the spinner from number fields.
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield; 
}