/* ==========================================================================
   #objects.progress
   ========================================================================== */

/**
 * The bar object is used to create progress bars.
 *
 * Usage:
 *
 * <div class="mvcc-bar">
 *      
 * </div>
 */
.mvcc-bar {
   display: block;
   height: var(--mvcc-spacing-medium);
   border-width: var(--mvcc-bar-border-width);
   border-color: var(--mvcc-bar-border-color);
   border-style: solid;
   background-color: var(--mvcc-bar-background-color);
}

/*
  __value
  ========================================================================== */

  /**
 * The value element determines how much the bar is filled in.
 *
 * Usage:
 *
 * <div class="mvcc-bar">
 *     <div class="mvcc-bar__value" style="width: 25%"></div>
 * </div>
 */
.mvcc-bar__value {
   display: block;
   height: 100%;
   background-color: var(--mvcc-bar-value-background-color);
}