/* ==========================================================================
   #objects.button
   ========================================================================== */

/**
 * The button object is used to create common button patterns.
 *
 * Usage:
 *
 * <button class="mvcc-button"></button>
 */

.mvcc-button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding-top: var(--mvcc-spacing-extra-small);
	padding-bottom: var(--mvcc-spacing-extra-small);
	padding-left: var(--mvcc-spacing-small);
	padding-right: var(--mvcc-spacing-small);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: .2s;
}
 
.mvcc-button:focus {
	outline:0;
}
 
/*
   --type-raised
   ========================================================================== */

/**
 * Applies a raised style on the button.
 *
 * Usage:
 *
 * <button class="mvcc-button mvcc-button--type-raised"></button>
 */

.mvcc-button--type-raised {
    box-shadow: 0 2px 4px 0 var(--mvcc-button-raised-box-shadow-color);
	color: var(--mvcc-button-raised-color);
	background-color: var(--mvcc-button-raised-background-color);
}

.mvcc-button--type-raised:active {
	top: 2px;
	box-shadow: none;
	background-color: var(--mvcc-button-raised-active-background-color);
}

/*
   --type-outline
   ========================================================================== */

/**
 * Applies an outlined style on the button.
 *
 * Usage:
 *
 * <button class="mvcc-button mvcc-button--type-outline"></button>
 */

.mvcc-button--type-outline {
	border-width: var(--mvcc-button-outline-border-width);
	border-color: var(--mvcc-button-outline-border-color);
	border-radius: var(--mvcc-button-outline-border-radius);
}

.mvcc-button--type-outline:active {
	color: var(--mvcc-button-outline-active-color);
	background-color: var(--mvcc-button-outline-active-background-color);
}


/*
   --type-toolbar
   ========================================================================== */

/**
 * Applies an toolbar style on the button.
 *
 * Usage:
 *
 * <button class="mvcc-button mvcc-button--type-outline"></button>
 */

 .mvcc-button--type-toolbar:active  {
	border-width: var(--mvcc-button-outline-toolbar-width);
	border-color: var(--mvcc-button-outline-toolbar-color);
	border-radius: var(--mvcc-button-outline-toolbar-radius);
}
 

/*
   --type-pill
   ========================================================================== */

/**
 * Applies a large pill style on the button.
 *
 * Usage:
 *
 * <button class="mvcc-button mvcc-button--type-outline"></button>
 */
.mvcc-button--type-pill {
	padding-top: var(--mvcc-spacing-small);
	padding-bottom: var(--mvcc-spacing-small);
	padding-left: var(--mvcc-spacing-medium);
	padding-right: var(--mvcc-spacing-medium);
	border-radius: 100px;
	font-size: .85rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--mvcc-button-pill-color);
	background-color: var(--mvcc-button-pill-background-color);
	box-shadow: 0 2px 4px 0 var(--mvcc-button-pill-box-shadow-color);
}

.mvcc-button--type-pill:active {
	color: var(--mvcc-button-pill-active-color);
	background-color: var(--mvcc-button-pill-active-background-color);
}
 

/*
  -spacing-medium
  ========================================================================== */

/**
* Applies a medium amount of spacing inside the box.
*
* Usage:
*
* <div class="mvcc-box mvcc-box--spacing-large">
* </div>
*/
.mvcc-button--spacing-medium {
   padding-top: var(--mvcc-spacing-medium);
   padding-bottom: var(--mvcc-spacing-medium);
}
 