/* ==========================================================================
   #objects.effect
   ========================================================================== */

/**
 * The effect object is used to apply different animations to an element.
 *
 * Usage:
 *
 * <div class="mvcc-effect">
 *
 * </div>
 */

.mvcc-effect {
   animation-duration: 1s;
   animation-fill-mode: both;
}

/*
   #speed-fast
   ========================================================================== */

/**
 * Apply a faster animation speed.
 *
 * Usage:
 *
 * <span class="mvcc-effect mvcc-effect--speed-fast">
 *
 * </span>
 */
 .mvcc-effect--speed-fast {
	animation-duration: .5s;
}

 /*
   #fade-in
   ========================================================================== */

/**
 * Apply a fade in animation to an element.
 *
 * Usage:
 *
 * <span class="mvcc-effect mvcc-effect--fade-in">
 *
 * </span>
 */
.mvcc-effect--fade-in {
	animation-name: fade-in;
}

/*
   #slide-in
   ========================================================================== */

/**
 * Apply a slide in animation to an element.
 *
 * Usage:
 *
 * <span class="mvcc-effect mvcc-effect--slide-in">
 *
 * </span>
 */
.mvcc-effect--slide-in {
	animation-name: slide-in;
}

/*
   #zoom-in
   ========================================================================== */

/**
 * Apply a zoom in animation to an element.
 *
 * Usage:
 *
 * <span class="mvcc-effect mvcc-effect--zoom-in">
 *
 * </span>
 */
.mvcc-effect--zoom-in {
	animation-name: zoom-in;
}

/* ==========================================================================
   #keyframes
   ========================================================================== */

/*
   #fade-in
   ========================================================================== */

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*
   #slide-in
   ========================================================================== */

@keyframes slide-in {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

/*
   #zoom-in
   ========================================================================== */

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}
