/* ==========================================================================
   #utilities.states
   ========================================================================== */

/*
   --margin-bottom-none
   ========================================================================== */

/**
 * Remove the margin around an element.
 *
 * Example:
 *
 * <div class="mvcc--margin-bottom-none">
 *
 * </div>
 */
.mvcc--margin-bottom-none {
	margin-bottom: 0;
}

/*
   --margin-bottom-extra-small
   ========================================================================== */

/**
* Applies an extra-small amount of spacing on the bottom of an element.
*
* Example:
*
* <div class="mvcc--margin-bottom-medium">
*
* </div>
*/
.mvcc--margin-bottom-extra-small {
	margin-bottom: var(--mvcc-spacing-extra-small);
}

/*
   --margin-bottom-small
   ========================================================================== */

/**
* Applies an small amount of spacing on the bottom of an element.
*
* Example:
*
* <div class="mvcc--margin-">
*
* </div>
*/
.mvcc--margin-bottom-small {
	margin-bottom: var(--mvcc-spacing-small);
}

/*
   --margin-bottom-medium
   ========================================================================== */

/**
* Applies a medium amount of spacing on the bottom of an element.
*
* Example:
*
* <div class="mvcc--margin-bottom-medium">
*
* </div>
*/
.mvcc--margin-bottom-medium {
	margin-bottom: var(--mvcc-spacing-medium);
}

/*
   --margin-left-extra-small
   ========================================================================== */

/**
* Applies a extra-small amount of spacing on the left of an element.
*
* Example:
*
* <div class="mvcc--margin-left-medium">
*
* </div>
*/
.mvcc--margin-left-extra-small {
	margin-left: var(--mvcc-spacing-extra-small);
}

/*
   --margin-left-small
   ========================================================================== */

/**
* Applies a small amount of spacing on the left of an element.
*
* Example:
*
* <div class="mvcc--margin-left-medium">
*
* </div>
*/
.mvcc--margin-left-small {
	margin-left: var(--mvcc-spacing-small);
}

/*
   --margin-left-medium
   ========================================================================== */

/**
* Applies a medium amount of spacing on the left of an element.
*
* Example:
*
* <div class="mvcc--margin-left-medium">
*
* </div>
*/
.mvcc--margin-left-medium {
	margin-left: var(--mvcc-spacing-medium);
}

/*
   --margin-right-extra-small
   ========================================================================== */

/**
* Applies a extra-small amount of spacing on the right of an element.
*
* Example:
*
* <div class="mvcc--margin-right-medium">
*
* </div>
*/
.mvcc--margin-right-extra-small {
	margin-right: var(--mvcc-spacing-extra-small);
}

/*
   --margin-right-small
   ========================================================================== */

/**
* Applies a small amount of spacing on the right of an element.
*
* Example:
*
* <div class="mvcc--margin-right-medium">
*
* </div>
*/
.mvcc--margin-right-small {
	margin-right: var(--mvcc-spacing-small);
}

/*
   --margin-right-medium
   ========================================================================== */

/**
* Applies a medium amount of spacing on the right of an element.
*
* Example:
*
* <div class="mvcc--margin-right-medium">
*
* </div>
*/
.mvcc--margin-right-medium {
	margin-right: var(--mvcc-spacing-medium);
}

/*
   --margin-top-medium
   ========================================================================== */

/**
* Applies a medium amount of spacing on the top of an element.
*
* Example:
*
* <div class="mvcc--margin-top-medium">
*
* </div>
*/
.mvcc--margin-top-medium {
	margin-top: var(--mvcc-spacing-medium);
}
