/* ==========================================================================
   #utilities.mobile
   ========================================================================== */


/*
   --screen-only
   ========================================================================== */

/**
 * Show content only on non-mobile devices.
 *
 * Example:
 *
 * <div class="mvcc--screen-only"></div>
 */

.mvcc--screen-only {
	display: none;
}

@media (min-width: 64em) {
	.mvcc--screen-only {
		display: initial;
	}
}

/*
   --mobile-only
   ========================================================================== */

/**
 * Show content only on mobiles displays.
 *
 * Example:
 *
 * <div class="mvcc--mobile-only"></div>
 */

.mvcc--mobile-only {
	display: initial;
}

@media (min-width: 64em) {
	.mvcc--mobile-only {
		display: none;
	}
}
