/* ==========================================================================
   #utilities.align
   ========================================================================== */

/*
   --align-center
   ========================================================================== */

.mvcc--align-center {
	text-align: center;
}

/*
   --align-middle
   ========================================================================== */

.mvcc--align-middle {
	vertical-align: middle;
}

/*
   --align-right
   ========================================================================== */

.mvcc--align-right {
	text-align: right;
}
