/* ==========================================================================
   #elements.summary
   ========================================================================== */

/**
 * Provide a better indicator that a summary element is clickable.
 */

summary {
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
